.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th {
  background-color: black;
  color: white;
  position: relative;
}
.arrow {
  position: relative;
  top: 0.3em;
  display: inline-block;
}
.tableColumnLabel {
  display: inline-block;
}

.dropDown {
  z-index: 100;
  position: absolute;
  background-color: black;
  color: white;
  text-align: right;
  padding: 12px 15px;
}

.dropDownWrapper p:hover {
  background-color: #45b4ce47;
}

.tableWrapper {
  overflow-x: scroll;
  padding: 10px;
  width: 100%;
}

.styled-table th,
.styled-table td {
  position: relative;
}
.headerContents {
  padding: 12px 15px;
}
.styled-table td {
  padding: 12px 15px;
}

.styled-table td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tr:hover {
  background-color: #45b4ce47;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:hover:nth-of-type(even) {
  background-color: #45b4ce47;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
